<section class="maincontent">
  <div class="maincontent__rightcol">
    <div class="title-bar">
      <h1 class="light man">Category Management</h1>
    </div>
    <div class="content-main" role="main" style="padding:0;">
      <div class="col-md-12">
        <div class="col-md-6 mt-4 pl-0">
          <div class="display-inline-flex eaton-form-100">
            <input type="search" placeholder="Search" class="form-control" /> <button class="btn btn-primary btn-sm">Search</button>
          </div>
          <div class="mt-4">
            <accordion class="treeview-accordion">
              <accordion-group [isOpen]="false" *ngFor="let label of model.manageData.labelCategories">
                <div accordion-heading class="panel-headings" (click)="labelSelect(label); showCatTab = false">
                  {{label.labelName}}<i *ngIf="label.categories.length !== 0" class="pull-left float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
                </div>
                <!---sub label list-->
                <accordion-group [isOpen]="false" *ngFor="let subLabel of label.labels" [isDisabled]="subLabel.labels.length == 0 && subLabel.categories.length == 0">
                  <div accordion-heading class="panel-headings" (click)="labelSelect(subLabel); showCatTab = false">
                    {{subLabel.labelName}}<i *ngIf="subLabel.categories.length !== 0" class="pull-left float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
                  </div>
                  <!--- sub category list-->
                  <div class="form-group mb-0">
                    <div class="radio pb-2" *ngFor="let subCat of subLabel.categories">
                      <input class="eaton-radio" type="radio" name="hoseRadio" id="{{subCat.categoryId}}" [value]="subCat.categoryId" (click)="showCatTab = true; getCategoryDetails(subCat)">
                      <label for="{{subCat.categoryId}}">{{subCat.categoryName}}</label>
                    </div>
                  </div>
                </accordion-group>
                <!--- category list-->
                <div class="form-group mb-0">
                  <div class="radio pb-2" *ngFor="let cat of label.categories">
                    <input class="eaton-radio" type="radio" name="catRadio" id="{{cat.categoryId}}" [value]="cat.categoryId" (click)="showCatTab = true; getCategoryDetails(cat)">
                    <label for="{{cat.categoryId}}">{{cat.categoryName}}</label>
                  </div>
                </div>
              </accordion-group>
            </accordion>
          </div>
        </div>
        <div class="col-md-6 mt-4 pl-0">
          <!-- Tabs for Label and Sub label select -->
          <tabset #staticTabs id="labelTabs" *ngIf="showCatTab !== true">
            <tab heading="Details">
              <section class="widget" widget>
                <div class="col-md-12 p-0 eaton-form-100 mt-4">
                  <label>Label Name <span [ngStyle]="{'color':'red'}">*</span></label>
                  <input type="text" placeholder="Label Name" class="form-control" [(ngModel)]="model.labelName" required />
                </div>
                <div class="col-md-12 p-0 eaton-form-100">
                  <hr class="mb-4">
                  <span>Added Categories (Total {{model.categoryList.length}} categories)</span><span class="pull-right"><i class="icon-pluscircle"></i> <i class="icon-closebox"></i></span>
                  <div class="form-group" *ngFor="let category of model.categoryList">
                    <div class="checkbox">
                      <input class="eaton-checkbox" type="checkbox" name="layout" id="{{category.categoryId}}" value="{{category.categoryId}}">
                      <label class="text" for="{{category.categoryId}}">{{category.categoryName}}</label>
                    </div>
                  </div>
                </div>
              </section>
            </tab>
          </tabset>

          <!-- Tabs for Category select -->
          <tabset #staticTabs id="categoryTabs" *ngIf="showCatTab == true">
            <tab heading="Details">
              <section class="widget" widget>
                <div class="col-md-12 p-0 eaton-form-100 mt-4">
                  <label>Category Name</label>
                  <input type="text" placeholder="Label Name" class="form-control" [(ngModel)]="model.catName" readonly />
                </div>
                <div class="col-md-12 p-0 eaton-form-100 mt-4">
                  <label>Category Alias</label>
                  <input type="text" placeholder="Label Name" class="form-control" [(ngModel)]="model.catAlias" />
                </div>
                <div class="col-md-12 p-0 eaton-form-100 mt-4">
                  <label>Category Description</label>
                  <input type="text" placeholder="Label Name" class="form-control" [(ngModel)]="model.catDescription" />
                </div>
                <button class="btn btn-primary btn-sm mt-4" (click)="updateCatDetails()">Save</button>
              </section>
            </tab>
            <tab heading="Attributes">
              <section class="widget" widget>
                <div class="col-md-12 eaton-form-100 p-0 mt-4">
                  <div class="text-right"><button class="btn btn-primary btn-sm" (click)="addAttributes()">Add Attribute</button></div>
                  <ngx-datatable class="material mt-4 mb-4"
                                 [rows]="model.catAttributeDropDown"
                                 [columns]="attcolumns"
                                 [columnMode]="'force'"
                                 [headerHeight]="35"
                                 [footerHeight]="35"
                                 [rowHeight]="'auto'"
                                 [reorderable]="true">
                  </ngx-datatable>
                  <!--[loadingIndicator]="loadingIndicator"-->
                </div>
              </section>
            </tab>
            <tab heading="Model & Part #">
              <section class="widget" widget>
                <div class="col-md-12 p-0 eaton-form-100 mt-4">
                  <div>
                    <div class="text-right"><button class="btn btn-primary btn-sm" (click)="addModel()">Add Model</button></div>
                  </div>
                  <div class="mt-1">
                    <accordion class="treeview-accordion">
                      <accordion-group [isOpen]="false" *ngFor="let mPart of model.modelPartDetail">
                        <div accordion-heading class="panel-headings">
                          {{mPart.modelNumber}}
                        </div>
                        <!---sub label list-->
                        <accordion-group [isOpen]="false" *ngFor="let part of mPart.parts" [isDisabled]="true">
                          <div accordion-heading class="panel-headings">
                            {{part.partNumber}}
                          </div>
                        </accordion-group>
                      </accordion-group>
                    </accordion>
                  </div>
                </div>
              </section>
            </tab>
            <tab heading="Default Forms">
              <section class="widget" widget>
                <div class="col-md-12 eaton-form-100 p-0 mt-4">
                  <ngx-datatable class="material"
                                 [rows]="model.defaultFormsDetail"
                                 [columns]="defautlFormscolumns"
                                 [columnMode]="'force'"
                                 [headerHeight]="35"
                                 [footerHeight]="35"
                                 [rowHeight]="'auto'"
                                 [reorderable]="true">
                  </ngx-datatable>
                  <!--[loadingIndicator]="loadingIndicator"-->
                </div>
              </section>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>

<app-location-tree-view #locationTreeViewModal (sendLocObj)="selectedLocObj($event)"></app-location-tree-view>

<!--Add attributes modal-->
<div bsModal #addAttributesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="addAttributesModal.hide()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title text-center" id="myModalLabel18">Add Attribute</h5>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <label for="select-attribute">Attribute Name <span>*</span></label>
          <select name="select-attribute" id="select-attribute" class="form-control" [(ngModel)]="selectedAtt" [ngModelOptions]="{standalone: true}" (change)="attSelected(selectedAtt)" required>
            <option *ngFor="let att of model.systemAttributesList" [ngValue]="att">{{att.attributeName}}</option>
          </select>
          <label class="mt-4">Attribute Type</label>
          <input type="text" class="form-control" placeholder="Attribute Type" [value]="model.selectedAtt?.attributeType" readonly />
          <label class="mt-4">Attribute Dropdown Values <span>*</span></label>
          <textarea class="form-control" required></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-lg-12 col-xs-12 text-center">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <button class="btn btn-primary btn-sm" (click)="addAttributesModal.hide()">Cancel</button>
        <button class="btn btn-primary btn-sm" (click)="createAttributes()">Save</button>
      </div>
    </div>
  </div>
</div>

<!--Add model modal-->
<div bsModal #addModelModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="addModelModal.hide()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title text-center" id="myModalLabel18">Add Model</h5>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <label class="mt-4">Model Name</label>
          <input type="text" class="form-control" placeholder="Model Name" />
          <label class="mt-4">Model Description</label>
          <textarea class="form-control" placeholder="Model Description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-lg-12 col-xs-12 text-center">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <button class="btn btn-primary btn-sm" (click)="addModelModal.hide()">Cancel</button>
        <button class="btn btn-primary btn-sm" (click)="createModel()">Save</button>
      </div>
    </div>
  </div>
</div>
