<section class="maincontent">
  <div class="maincontent__rightcol">
    <div class="title-bar">
      <h1 class="light man">Attachment Labels</h1><span class="align-btn-right"><button class="btn btn-white btn-sm" (click)="addUser()">Add Label</button></span>
    </div>
    <div class="content-main" role="main" style="padding:0;">
      <div class="col-md-12">
        <ngx-datatable class="material"
                       [rows]="model.labelsList"
                       [columns]="defaultFormscolumns"
                       [columnMode]="'force'"
                       [headerHeight]="35"
                       [footerHeight]="35"
                       [rowHeight]="'auto'"
                       [reorderable]="true">
        </ngx-datatable>
      </div>
    </div>
  </div>
</section>
