<div bsModal #cloneAssetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <form (ngSubmit)="modifyAndCloneAsset(cloneAssetForm)" #cloneAssetForm="ngForm">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="hide(cloneAssetForm)" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">×</span>
          </button>
          <h5 class="modal-title text-center" id="myModalLabel18">Clone Asset</h5>
        </div>
        <div class="modal-body">
          <tabset #staticTabs>

            <tab heading="Search">
              <div class="col-lg-12 p-3">

                <div class="col-lg-12 p-0 pb-4 border-bottom">
                  <div class="pull-left disp-inline-flex">
                    <input type="search" (keyup)='updateFilter($event.target.value)' placeholder="Search" name="search" [(ngModel)]="searchText"
                      class="form-control" />
                    <button type="reset" class="btn btn-primary btn-sm" (click)="clearSearch()">Clear</button>
                  </div>
                  <div class="pull-right disp-inline-flex">
                    Quantity:
                    <input type="number" [disabled]="btnDisable" [(ngModel)]="quan" class="form-control" min="0" max="99" name="quantity" />
                    <button class="btn btn-primary btn-sm mr-2" type="button" (click)="cloneAsset(cloneAssetForm)" [disabled]="btnDisable">Clone</button>
                    <button class="btn btn-primary btn-sm mr-2" type="button" [disabled]="btnDisable" (click)="modifyAndClone()">Modify & Clone</button>
                    <button class="btn btn-primary btn-sm" type="button" (click)="hide(cloneAssetForm)">Cancel</button>
                  </div>
                </div>
                <div class="col-lg-12 p-0 pt-4">
                  <ngx-datatable style="box-shadow:none;" class="material expandable" [rows]="filteredList" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                    [rowHeight]="'auto'" [limit]="5" [selectionType]="'radio'" (activate)="onActivate($event)" (select)='onSelect($event)'>
                    <ngx-datatable-column name="Action" [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">

                      <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                        <input type="radio" name="radioBtn" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="	UniqID" prop="assetNumber"></ngx-datatable-column>
                    <ngx-datatable-column [width]="190" name="	Description " prop="assetDescription"></ngx-datatable-column>
                    <ngx-datatable-column name="Owner" prop="owner.name"></ngx-datatable-column>
                    <ngx-datatable-column name="Location" prop="assetLocation.name"></ngx-datatable-column>

                    <ngx-datatable-column name="Created Date" prop="createdDate">
                      <ng-template let-column="column" ngx-datatable-header-template>
                        Created Date
                      </ng-template>
    
    
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value | date: 'yyyy-MM-dd'}}
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Expiry Date" prop="expiryDate">
                      <ng-template let-column="column" ngx-datatable-header-template>
                        Expiry Date
                      </ng-template>
    
    
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value | date: 'yyyy-MM-dd'}}
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Next Due Date" prop="modifiedDate">
                      <ng-template let-column="column" ngx-datatable-header-template>
                        Next Due Date
                      </ng-template>
    
    
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value | date: 'yyyy-MM-dd'}}
                      </ng-template>
                    </ngx-datatable-column>

                   
                  </ngx-datatable>
                </div>
              </div>
            </tab>
            <tab heading="Verify & Clone" [disabled]="btnDisable">
              <div class="col-lg-12 p-3">
                <div class="col-lg-12 p-0 pb-4 border-bottom">
                  <div class="pull-right disp-inline-flex">
                    <button class="btn btn-primary btn-sm mr-2" type="button" [disabled]="btnDisable" (click)="backToAssetList()">Back</button>

                    <button [disabled]="cloneAssetForm.invalid"  class="btn btn-primary btn-sm mr-2" type="button" (click)="modifyCloneAsset(cloneAssetForm)">Clone</button>

                    <button class="btn btn-primary btn-sm" type="button" (click)="hide(cloneAssetForm)">Cancel</button>
                  </div>
                </div>
                <div class="col-lg-12 p-0 pt-4">
                  <accordion>
                    <accordion-group heading="Asset Details" [isOpen]="status.isFirstOpen">

                      <div class="col-lg-12 col-md-12 p-0 display-inline-flex">
                        <div class="col-lg-4 col-md-4">
                          <div class="form-group">
                            <label>UniqID</label>
                            <input type="text" class="form-control" [(ngModel)]="model.assetData.assetNumber" name="assetNumber" autofocus [disabled]="true" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                          <div class="form-group">
                            <label>Description
                              <span style="color:red;">*</span>
                            </label>
                            <input type="text" class="form-control" #assetDescription="ngModel" [(ngModel)]="model.assetData.assetDescription" name="assetDescription" autofocus
                              required />
                              <div *ngIf="assetDescription.touched && !assetDescription.valid" style="color:red" >
                                Description is required
                              </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                          <div class="form-group">
                            <label>In-Service Date</label>
                            <input type="text" class="form-control" [ngModel]="model.assetData.inServiceDate | date: 'yyyy-MM-dd'" (ngModelChange)="model.assetData.inServiceDate=$event" name="inServiceDate" autofocus
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 p-0 display-inline-flex">
                        <div class="form-group col-md-4">
                          <label for="ownedBy">Owned By</label>
                          <select class="form-control" name="customer Name">
                            <option *ngFor="let owner of model.ownerData" [selected]="owner.id==model.assetData.owner.id" [ngValue]="owner.id">{{owner.name}}</option>
                          </select>
                        </div>

                        <div class="form-group col-md-4">
                          <label for="manufactureLocation">Manufacture Location
                            <span style="color:red;">*</span>
                          </label>
                          <select class="form-control" name="manufactureLocation">
                            <option *ngFor="let location of model.locationsData" [selected]="location.name==model.assetData.manufactureLocation.name" [value]="location.name">{{location.name}}</option>
                          </select>
                        </div>
                        <div class="col-lg-4 col-md-4">
                          <div class="form-group">
                            <label>Expiry Date</label>
                            <input type="text" class="form-control" [ngModel]="model.assetData.expiryDate | date: 'yyyy-MM-dd'" (ngModelChange)="model.assetData.expiryDate = $event" name="expiryDate" />
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 p-0 display-inline-flex">
                        <div class="col-lg-4 col-md-4">
                          <div class="form-group">
                            <label>Category</label>
                            <input type="text" class="form-control" [(ngModel)]="model.assetData.assetNumber" name="assetNumber" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                          <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" min="0" max="99" class="form-control" [(ngModel)]="quan" name="assetQuantity"/>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                          <div class="form-group">
                            <label>Assembly Date</label>
                            <input type="text" class="form-control" [ngModel]="model.assetData.inServiceDate | date: 'yyyy-MM-dd'" (ngModelChange)="model.assetData.inServiceDate=$event" name="inServiceDate"/>
                          </div>
                        </div>
                      </div>
                    </accordion-group>
                    <accordion-group heading="Bill of Materials">
                      <div class="col-lg-12 col-md-12 p-0">
                        <div class="col-lg-4 col-md-4 p-0" *ngFor="let single of model.newMaterials; let i = index;">
                          <div class="form-group col-md-12">
                            <label for="{{single.attributeName}}">{{single.attributeName}}</label>
                            <input type="text" class="form-control" placeholder="{{single.attributeName}}" autofocus name="{{single.attributeName}}"
                              [(ngModel)]="single.attributeValue" />
                          </div>
                        </div>
                      </div>
                    </accordion-group>
                    <accordion-group heading="Customer Specific Details">
                      <div class="col-lg-12 col-md-12 p-0">
                        <div class="col-lg-4 col-md-4 p-0" *ngFor="let single of model.newCustomerSpecific; let i = index;">
                        
                          <div class="form-group col-md-12">
                            <label for="{{single.attributeName}}">{{single.attributeName}}</label>
                            <input *ngIf="single.attributeType == 'TEXT50' || single.attributeType == 'TEXT250'" type="text" class="form-control" placeholder="{{single.attributeName}}" autofocus  [(ngModel)]="single.attributeValue" name="{{single.attributeName}}"/>
                            <select *ngIf="single.attributeType == 'DROPDOWN'" name="{{single.attributeName}}" id="{{single.attributeName}}" class="form-control" [(ngModel)]="single.attributeValue">
                                <ng-container *ngIf="single.attributeName == 'Application'">
                                <option   *ngFor="let application of model.applicationData.applications" [selected]="application.applicationName==single.attributeName" [value]="application.applicationName">{{application?.applicationName}}</option>
                            
                                </ng-container>
    
                                <ng-container *ngIf="single.attributeName == 'Customer Name'">
                                  <option   *ngFor="let owner of model.ownerData" [selected]="owner.id==single.attributeId" [value]="owner.name">{{owner?.name}}</option>
                              
                                </ng-container>
                                
                                <ng-container *ngIf="single.attributeName == 'Market Segment'">
                                    <option   *ngFor="let segment of model.marketSegmentData.segmentsList" [selected]="segment.id==single.attributeId" [value]="segment.marketSegmentName">{{segment?.marketSegmentName}}</option>
                                
                                </ng-container>
                              
                            </select>
    
                          </div>
                        </div>
                  </div>
                    </accordion-group>
                    <accordion-group heading="Dimentional and Performance Details">
                      <div class="col-lg-12 col-md-12 p-0">
                        <div class="col-lg-4 col-md-4 p-0" *ngFor="let single of model.newDimensionDetails; let i = index;">
                          <div class="form-group col-md-12">
                            <label for="{{single.attributeName}}">{{single.attributeName}}</label>
                            <input  [(ngModel)]="single.attributeValue" *ngIf="single.attributeType == 'TEXT50' || single.attributeType == 'TEXT250'" type="text" class="form-control" placeholder="{{single.attributeName}}" autofocus name="{{single.attributeName}}"  />
                            <select [(ngModel)]="single.attributeValue" *ngIf="single.attributeType == 'DROPDOWN'" name="{{single.attributeName}}" id="{{single.attributeName}}" class="form-control">
                                <ng-container *ngIf="single.attributeName == 'Application'">
                                  <option   *ngFor="let application of model.applicationData.applications" [selected]="application.id==single.attributeId" [value]="application.applicationName">{{application?.applicationName}}</option>
                                </ng-container>
      
                                <ng-container *ngIf="single.attributeName == 'Market Segment'">
                                    <option   *ngFor="let segment of model.marketSegmentData.segmentsList" [selected]="segment.id==single.attributeId" [value]="segment.marketSegmentName">{{segment?.marketSegmentName}}</option>
                                </ng-container>
                            </select>
                                            
                          </div>
                          
                        </div>
                      </div>
                    </accordion-group>
                    <accordion-group heading="Maintenance Schedule">
                      <ngx-datatable style="box-shadow:none;" class="material"
                      [rows]="model.maintenanceData"
                      [columnMode]="'force'"
                      [headerHeight]="35"
                      [footerHeight]="35"
                      [rowHeight]="'auto'"
                      [reorderable]="true">
                      <ngx-datatable-column name="Form" prop="form.name"></ngx-datatable-column >
                      <ngx-datatable-column name="Type" prop="form.type"></ngx-datatable-column > 
                      <ngx-datatable-column name="Interval" prop="interval"></ngx-datatable-column > 
                      <ngx-datatable-column name="Unit" prop="units"></ngx-datatable-column >  
                    </ngx-datatable>
                    </accordion-group>
                    <accordion-group heading="Asset Attachment"></accordion-group>
                  </accordion>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
        <div class="modal-footer">
          <div class="col-lg-12 col-xs-12 text-center">
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>