<section class="maincontent">
  <div class="maincontent__rightcol">
    <div class="title-bar">
      <h1 class="light man">Forms</h1><span class="align-btn-right"><button class="btn btn-white btn-sm" (click)="addForm()">Add Form</button></span>
    </div>
    <div class="content-main" role="main" style="padding:0;">
      <div class="col-md-12">
        <div class="col-md-6 mt-4 pl-0">
          <ngx-datatable class="material"
                         [rows]="model.formsList"
                         [columns]="defaultFormscolumns"
                         [columnMode]="'force'"
                         [headerHeight]="35"
                         [footerHeight]="35"
                         [rowHeight]="'auto'"
                         [reorderable]="true">
          </ngx-datatable>
        </div>
        <div class="col-md-6 mt-4 pl-0">
          <tabset #staticTabs>
            <tab heading="Form Fields">
              <section class="widget" widget>
                <div class="widget-body eaton-pt-10 eaton-pb-40">
                  <div class="display-inline-flex">
                    <input type="text" placeholder="Field Name" class="form-control mr-1" />
                    <input type="text" placeholder="Field Name" class="form-control mr-1" />
                    <button type="button" class="btn btn-primary btn-sm">Add Field</button>
                  </div>
                  <div class="pt-4 eaton-pb-50">
                    <ngx-datatable class="material"
                                   [rows]="model.formsList"
                                   [columns]="defaultFormscolumns"
                                   [columnMode]="'force'"
                                   [headerHeight]="35"
                                   [footerHeight]="35"
                                   [rowHeight]="'auto'"
                                   [reorderable]="true">
                    </ngx-datatable>
                  </div>
                </div>
              </section>
            </tab>

            <tab heading="Form Diagram">
              <section class="widget" widget>
                <div class="widget-body eaton-pt-10 eaton-pb-40">
                  <div class="pull-right">
                    <button type="button" class="btn btn-primary btn-sm" (click)="addDiagram()">Add Diagram</button>
                  </div>
                  <div class="pt-4 eaton-pb-50">

                  </div>
                </div>
              </section>
            </tab>

          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Add from diagram modal-->
<div bsModal #addFormDiagramModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="addFormDiagramModal.hide()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title text-center" id="myModalLabel18">Add Diagram</h5>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <label class="mt-4">Diagram Description <span>*</span></label>
          <input type="text" class="form-control" placeholder="Diagram Description" required />
          <label class="mt-4">Attachment Labels</label>
          <select name="select-quantity" id="select-quantity" class="form-control" required>
            <option *ngFor="let attachment of model.attachmentLabels" [value]="attachment">{{attachment.name}}</option>
          </select>
          <label class="mt-4">Select Field</label>
          <select name="select-quantity" id="select-quantity" class="form-control" required>
            <option *ngFor="let attachment of model.attachmentLabels" [value]="attachment">{{attachment.name}}</option>
          </select>
          <label class="mt-4">Select File</label>
          <input type="file" id="file" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-lg-12 col-xs-12 text-center">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <button class="btn btn-primary btn-sm" (click)="addFormDiagramModal.hide()">Cancel</button>
        <button class="btn btn-primary btn-sm" (click)="createFormDiagram()">Save</button>
      </div>
    </div>
  </div>
</div>

<!--Add form modal-->
<div bsModal #addFormModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="addFormModal.hide()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title text-center" id="myModalLabel18">Add Form</h5>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="col-md-6 pl-0">
            <label class="mt-4">Form Name <span>*</span></label>
            <input type="text" class="form-control" placeholder="Diagram Description" required />
            <label class="mt-4">Form Type</label>
            <input type="text" class="form-control" placeholder="Diagram Description" required />
            <label class="mt-4">Start with same Fields (Task) as form</label>
            <input type="text" class="form-control" placeholder="Diagram Description" required />
          </div>
          <div class="col-md-6 pl-0">
            <label class="mt-4">Report Title</label>
            <input type="text" class="form-control" placeholder="Diagram Description" required />
            <label class="mt-4">Used For</label>
            <input type="text" class="form-control" placeholder="Diagram Description" required />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-lg-12 col-xs-12 text-center">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <button class="btn btn-primary btn-sm" (click)="addFormModal.hide()">Cancel</button>
        <button class="btn btn-primary btn-sm" (click)="createForm()">Save</button>
      </div>
    </div>
  </div>
</div>
