<div bsModal #replaceAssetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <form #replaceAssetForm="ngForm" (ngSubmit)="onSubmit(replaceAssetForm)">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="hide(replaceAssetForm)" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">×</span>
          </button>
          <h5 class="modal-title text-center" id="myModalLabel18">Replace Asset</h5>
          
        </div>
        <div class="modal-body">

          <div class="col-lg-12 p-0">
            <div class="col-lg-12 p-0 pb-4 border-bottom">
              <div class="pull-left disp-inline-flex">
                <input type="search" placeholder="Search" class="form-control" [(ngModel)]="model.searchText" name="searchText" (keyup)='updateFilter($event.target.value)'
                />
                <button class="btn btn-primary btn-sm" (click)="clearSearch()" type="button">Clear</button>
              </div>
              <div class="pull-right disp-inline-flex">
                <button class="btn btn-primary btn-sm mr-2" type="submit" *ngIf="model.replaceForm" [disabled]="model.replaceForm">Replace</button>
                <button class="btn btn-primary btn-sm mr-2" type="submit" *ngIf="!model.replaceForm" [disabled]="!replaceAssetForm.valid">Replace</button>
                <button class="btn btn-primary btn-sm" type="button" (click)="hide(replaceAssetForm)">Cancel</button>
              </div>
            </div>
            <div class="col-lg-12 p-0 pt-4 border-bottom">
              <ngx-datatable style="box-shadow: none;" class="material expandable" [rows]="model.filteredList" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [selected]="model.selected" [selectionType]="'radio'"
                (activate)="onActivate($event)" (select)='onSelect($event)'>
                <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                    <!-- <input type="radio" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" /> -->
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <input type="radio" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="UniqID" prop="assetNumber"></ngx-datatable-column>
                <ngx-datatable-column [width]="180" name="Asset Description" prop="assetDescription"></ngx-datatable-column>
                <ngx-datatable-column name="Owner" prop="owner.name"></ngx-datatable-column>
                <ngx-datatable-column name="Location" prop="assetLocation.name"></ngx-datatable-column>

                <ngx-datatable-column name="Created Date" prop="createdDate">
                  <ng-template let-column="column" ngx-datatable-header-template>
                    Created Date
                  </ng-template>


                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date: 'yyyy-MM-dd'}}
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Expiry Date"></ngx-datatable-column>
                <ngx-datatable-column name="Next Due Date"></ngx-datatable-column>
              </ngx-datatable>
            </div>

            <div class="col-lg-12 p-0 pt-4" *ngIf="model.replaceAssetform">
              <div class="col-lg-12 p-0 disp-inline-flex">
                <div class="form-group eaton-form-100 mr-4">
                  <label>Replace By</label>

                  <input type="text" class="form-control" placeholder="Replace By" readonly [(ngModel)]="model.replaceBy" name="replaceBy"
                  />
                </div>
                <div class="form-group eaton-form-100 mr-4">
                  <label>Owned By</label>

                  <input type="text" class="form-control" placeholder="Owned By" readonly [(ngModel)]="model.selectedAsset.ownerName" name="ownedBy"
                  />
                </div>
                <div class="form-group eaton-form-100 mr-4"></div>
              </div>
              <div class="col-lg-12 p-0 disp-inline-flex">
                <div class="form-group eaton-form-100 mr-4">
                  <label>Replacement Type</label>
                  <select class="form-control" ngModel name="replacementType" required>
                    <option value="" selected disabled>Select Replacement Type</option>
                    <option value="Scheduled Maintenance">Scheduled Maintenance</option>
                    <option value="Field Failure (Outside of Warranty)">Field Failure (Outside of Warranty)</option>
                    <option value="Field Failure (Inside of Warranty period, RMA issued)">Field Failure (Inside of Warranty period, RMA issued)</option>
                  </select>
                </div>
                <div class="form-group eaton-form-100 mr-4">
                  <label>Replacement Reason</label>
                  <select class="form-control" (change)="otherSelect($event)" ngModel name="replacementReason" required>
                    <option value="" selected disabled>Select Replacement Reason</option>
                    <option value="Product age">Product age</option>
                    <option value="Visible abrasion wear to outer cover">Visible abrasion wear to outer cover</option>
                    <option value="Physical damage to Hose">Physical damage to Hose</option>
                    <option value="Cracking of Hose cover">Cracking of Hose cover</option>
                    <option value="Leakage or Hose burnt">Leakage or Hose burnt</option>
                    <option value="Leakage at Hose Fitting connection">Leakage at Hose Fitting connection</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
                <div class="form-group eaton-form-100 mr-4">
                  <label *ngIf="model.otherReason">Other Reason</label>
                  <input type="text" class="form-control" placeholder="Other Reason" *ngIf="model.otherReason" ngModel name="otherReason" required
                  />
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <div class="col-lg-12 col-xs-12 text-center">
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </div>
          <!--<button class="btn btn-primary btn-sm" (click)="replaceAssetModal.hide()">Cancel</button>
        <button class="btn btn-primary btn-sm" (click)="createAsset()">Save</button>-->
        </div>

      </div>
    </div>
  </form>
</div>