<div bsModal #locationTreeViewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="locationTreeViewModal.hide()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title text-center" id="myModalLabel18">Select Location</h5>
      </div>
      <div class="modal-body">
        <div *ngIf="model.locationList.length == 0" class="text-center"><i class="fa fa-circle-o-notch"></i> Loading ...</div>
        <div *ngFor="let loc of model.locationList">
          <div class="eaton-tree-parent p-1 mb-2 well" (click)="selectLocEdit(loc._id)"><i class="icon-triangle-right" *ngIf="loc.subLocations.length !== 0"></i> {{loc.name}} <span class="pull-right"><a (click)="addLocation()"><i class="icon-pluscircle"></i></a></span></div>
          <div [dragula]='"first-bag"' [dragulaModel]='model.locationList'>
            <div class="eaton-tree-child p-1 mb-2 ml-4 well" (click)="selectChildLocEdit(locChild._id)" *ngFor="let locChild of loc.subLocations">{{locChild?.name}} <span class="pull-right"><a (click)="addLocation()"><i class="icon-pluscircle"></i></a><a (click)="addLocation()"><i class="icon-closebox"></i></a></span></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-lg-12 col-xs-12 text-center">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <button class="btn btn-primary btn-sm" (click)="locationTreeViewModal.hide()">Cancel</button>
      </div>
    </div>
  </div>
</div>
