<div bsModal #addLocationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <form (ngSubmit)="createNewLocation(addLocationForm)" #addLocationForm="ngForm">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="hide(addLocationForm)" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">×</span>
          </button>
          <h5 class="modal-title text-center" id="myModalLabel18">Add New Location</h5>
        </div>
        <div class="modal-body">
          <div class="col-lg-12 col-md-12 p-0 display-inline-flex">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Location Name <span style="color:red;">*</span></label>
                <input type="text" class="form-control" ngModel name="locationName" placeholder="Location Name" autofocus required tabindex="1" />
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" ngModel name="desc" placeholder="Description" rows="2" tabindex="3"></textarea>
              </div>
              <div class="form-group">
                <label>Latitude</label>
                <input type="text" class="form-control" ngModel name="locLat" pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?)$" placeholder="Latitude" tabindex="5" />
              </div>
              <div class="form-group">
                <label>Location Barcode</label>
                <input type="text" class="form-control" ngModel name="barcode" placeholder="Location Barcode" tabindex="7" />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Customer Location ID</label>
                <input type="text" class="form-control" ngModel name="custID" placeholder="Customer Location ID" tabindex="2" />
              </div>
              <div class="form-group">
                <label>Notes</label>
                <textarea class="form-control" ngModel name="notes" placeholder="Notes" rows="2" tabindex="4"></textarea>
              </div>
              <div class="form-group">
                <label>Longitude</label>
                <input type="text" class="form-control" ngModel name="locLong" pattern="^[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$" placeholder="Longitude" tabindex="6" />
              </div>
              <div class="form-group">
                <label>Chip ID</label>
                <input type="text" class="form-control" ngModel name="chipID" placeholder="Chip ID" tabindex="8" (keyup)="chipIdCheck($event)" />
                <div *ngIf="chipIdValidate == true" class="alert alert-danger mt-2" role="alert">Please enter valid 16, 24 or 32 characters chipId in Hex format.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" (click)="hide(addLocationForm)">Cancel</button>
          <button class="btn btn-primary btn-sm" [disabled]="!addLocationForm.valid" type="submit">Add</button>
        </div>
      </div>
    </div>
  </form>
</div>
