<router-outlet></router-outlet>

<!--<app-header [hidden]="!model.isLoggedIn"></app-header>
<div id="wrapper">
  <div id="main-wrapper">
    <app-sidebar [hidden]="!model.isLoggedIn"></app-sidebar>
    <div id="main" class="p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>-->
