.eaton-tree-parent {
  border: 1px solid #ccc;
  background-color: #ddd;
  cursor: pointer;
}

.eaton-tree-child {
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.selected{
  font-weight: bold;
}
