<div id="sidebar-wrapper">
  <div id="sidebar">
    <div class="site-search">
      <div class="search-wrap">
        <input type="search" class="form-control search-control" placeholder="Search asset">
        <button type="submit"><i class="icon-search"></i></button>
      </div>
      <a href="#" class="advanced-search" data-reveal-id="advancedSearch">Advanced Search</a>
    </div>
    <ul class="main-nav">
      <!--<li class="main-nav__item" [routerLinkActive]="['active']"><a href="#" class="main-nav__link"><i class="icon-house"></i>Home <i class="icon-chevronright"></i></a></li>-->
      <li class="main-nav__item" [routerLinkActive]="['active']"><a routerLink='/dashboard' class="main-nav__link"><i class="icon-grid"></i>Dashboard <i class="icon-chevronright"></i></a></li>
      <li class="main-nav__item" [routerLinkActive]="['active']"><a routerLink='/asset' class="main-nav__link"><i class="icon-boxopen"></i>Assets <i class="icon-chevronright"></i></a></li>
      <li class="main-nav__item" [routerLinkActive]="['active']"><a href="#" class="main-nav__link"><i class="icon-listedit"></i>Reporting <i class="icon-chevronright"></i></a></li>
      <li class="main-nav__item" [routerLinkActive]="['active']"><a href="#" class="main-nav__link"><i class="icon-calendarnum"></i>Basic Form Scheduling <i class="icon-chevronright"></i></a></li>
      <li class="main-nav__item" [routerLinkActive]="['active']"><a href="#" class="main-nav__link"><i class="icon-people2"></i>Customers <i class="icon-chevronright"></i></a></li>
      <li class="main-nav__item" [routerLinkActive]="['active']"><a routerLink='/setup' class="main-nav__link"><i class="icon-sun"></i>Setup <i class="icon-chevronright"></i></a></li>
      <li class="main-nav__item" [routerLinkActive]="['active']"><a href="#" class="main-nav__link"><i class="icon-help"></i>Help <i class="icon-chevronright"></i></a></li>
    </ul>
  </div>
</div>
