<!--Error Window Modal-->
<div bsModal #errorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form>
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="errorModal.hide()" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">×</span>
          </button>
          <h5 class="modal-title text-center" id="myModalLabel18">Oops!! Looks like something went wrong</h5>
        </div>
        <div class="modal-body">
          test
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" (click)="errorModal.hide()">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>
