<div bsModal #createAssetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="createAssetModal.hide()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title text-center" id="myModalLabel18">Create Asset</h5>
      </div>
      <form #form="ngForm">
        <div class="modal-body">
          <div>
            <tabset #staticTabs>
              <tab heading="Customer">
                <section class="widget" widget>
                  <div class="widget-body eaton-pt-10 eaton-pb-40">
                    <span class="pull-right">
                      <button class="btn btn-primary btn-sm has-spinner" (click)="selectHose()">Next</button>
                    </span>
                    <div class="eaton-pt-50 eaton-pb-50">
                      <div class="form-group eaton-form">
                        <label for="select-quantity">Quantity</label>
                        <select name="select-quantity" id="select-quantity" class="form-control" required [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let quan of model.quantityList" [ngValue]="quan">{{quan}}</option>
                        </select>
                      </div>
                      <div class="form-group eaton-form">
                        <label for="select-customer">Customer</label>
                        <select name="select-customer" id="select-customer" class="form-control" [ngModel]="customer" (ngModelChange)="customerChange($event)" required>
                          <option *ngFor="let cust of model.customerList" [value]="cust._id">{{cust.tenantName}}</option>
                        </select>
                      </div>
                      <div class="form-group eaton-form position-fix">
                        <label for="select-location">Location</label>
                        <input type="text" class="form-control" placeholder="Select Location" (click)="showLocationTreeView()" [value]="model.selectedLocationName" />
                      </div>
                      <div class="form-group eaton-form position-fix">
                        <label for="select-customer">Market Segment</label>
                        <input type="text" class="form-control" placeholder="Market Segment" [value]="model.marketSegment?.marketSegmentName" readonly />
                      </div>
                      <div class="form-group eaton-form">
                        <label for="select-application">Applicatiton</label>
                        <select name="select-application" id="select-application" class="form-control" required [(ngModel)]="application" [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let app of model.marketSegment?.applications" [value]="app.applicationDescription">{{app.applicationName}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="text-center" *ngIf="model.customerList.length == 0 && model.locationList.length == 0"><i class="icon-sunrays"></i> Loading ... </div>
                  </div>
                </section>
              </tab>

              <tab heading="Hose">
                <section class="widget" widget>
                  <div class="widget-body">
                    <span class="pull-right eaton-pt-10 eaton-pb-10">
                      <button class="btn btn-primary btn-sm" (click)="selectTab(0)">Back</button>
                      <button class="btn btn-primary btn-sm" (click)="selectTab(2)">Next</button>
                    </span>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 pt-4 eaton-modal-cont">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-0">
                        <div class="eaton-form-search-container"><input type="search" placeholder="Search" class="form-control" /><button class="btn btn-primary btn-sm">Search</button></div>
                        <div class="hoselist">
                          <div class="form-group">
                            <div class="radio pb-2" *ngFor="let hose of model.hoseList.componentPartList">
                              <input class="eaton-radio" type="radio" name="hoseRadio" id="option2" [value]="hose._id" (click)="getPartDetail(hose._id)">
                              <label for="option2">{{hose.componentPartNumber}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8 pr-0" style="display:grid;">
                        <alert typeof="warning" *ngIf="model.showErrorMessage" dismissible="true">There are no compatible fittings available for the selected Raw Hose. Please select another Raw Hose</alert>
                        <accordion>
                          <accordion-group heading="Hose Detail" [isOpen]="true">
                            <div *ngIf="model.selectedHose !== null">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="overall-length">Overall Length</label>
                                  <input type="text" class="form-control" placeholder="Overall Length" autofocus />
                                </div>
                                <div class="form-group">
                                  <label for="overall-length">Market Segment</label>
                                  <input type="text" class="form-control" placeholder="Market Segment" [value]="model.componentPartbyIdList?.componentPartNumber" readonly />
                                </div>
                                <div class="form-group">
                                  <label for="desc">Description</label>
                                  <input type="text" class="form-control" placeholder="Description" [value]="model.componentPartbyIdList?.description" />
                                </div>
                              </div>
                              <div class="col-md-6 text-right">
                                <img src="data:image/jpeg;base64,{{model.componentPartImage}}" width="180" class="well p-0 my-auto" />
                              </div>
                            </div>
                          </accordion-group>
                          <accordion-group heading="Hose Properties">
                            <div>
                              <div class="form-group eaton-form" *ngFor="let hoseDetail of model.componentPartbyIdList?.componentPartDetails">
                                <label for="overall-length">{{hoseDetail.propertyName}}</label>
                                <input type="{{hoseDetail.propertyType}}" class="form-control" [value]="hoseDetail.propertyValue" readonly />
                              </div>
                            </div>
                          </accordion-group>
                        </accordion>
                      </div>
                    </div>
                  </div>
                </section>
              </tab>

              <tab heading="Fitting 1">
                <section class="widget" widget>
                  <div class="widget-body">
                    <span class="pull-left eaton-pt-10 eaton-pb-10">
                      Select Hose: <label>{{model.selectedHose}}</label>
                    </span>
                    <span class="pull-right eaton-pt-10 eaton-pb-10">
                      <button class="btn btn-primary btn-sm" (click)="selectTab(1)">Back</button>
                      <button class="btn btn-primary btn-sm" (click)="selectTab(3); getFitting2Detail(model.selectedFitting1Id)">Next</button>
                    </span>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 pt-4 eaton-modal-cont">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-0">
                        <div class="eaton-form-search-container"><input type="search" placeholder="Search" class="form-control" /><button class="btn btn-primary btn-sm">Search</button></div>
                        <div class="hoselist">
                          <div *ngFor="let fitting of model.componentPartForList">
                            <label>
                              <input type="radio" name="fitting1Radio" [value]="fitting._id" (click)="getFitting1Detail(fitting._id)" /> {{fitting.componentPartNumber}}
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8 pr-0" style="display:grid;">
                        <accordion>
                          <accordion-group heading="Fitting 1 Detail" [isOpen]="true">
                            <div *ngIf="model.selectedFitting1 !== null">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="overall-length">Fitting 1 Part Number</label>
                                  <input type="text" class="form-control" placeholder="Market Segment" [value]="model.fitting1Detail?.componentPartNumber" readonly />
                                </div>
                                <div class="form-group">
                                  <label for="desc">Fitting 1 Description</label>
                                  <input type="text" class="form-control" placeholder="Description" [value]="model.fitting1Detail?.description" />
                                </div>
                              </div>
                              <div class="col-md-6 text-right">
                                <img src="data:image/jpeg;base64,{{model.fitting1Image}}" width="180" class="well p-0 my-auto" />
                              </div>
                            </div>
                          </accordion-group>
                          <accordion-group heading="Fitting 1 Properties">
                            <div>
                              <div class="form-group eaton-form" *ngFor="let fitting1Detail of model.fitting1Detail?.componentPartDetails">
                                <label for="overall-length">{{fitting1Detail.propertyName}}</label>
                                <input type="{{fitting1Detail.propertyType}}" class="form-control" [value]="fitting1Detail.propertyValue" readonly />
                              </div>
                            </div>
                          </accordion-group>
                        </accordion>
                      </div>
                    </div>
                  </div>
                </section>
              </tab>

              <tab heading="Fitting 2">
                <section class="widget" widget>
                  <div class="widget-body">
                    <span class="pull-left eaton-pt-10 eaton-pb-10">
                      Select Hose: <label>{{model.selectedHose}}</label><br> Selected Fitting 1: <label>{{model.selectedFitting1}}</label>
                    </span>
                    <span class="pull-right eaton-pt-10 eaton-pb-10">
                      <button class="btn btn-primary btn-sm" (click)="selectTab(2)">Back</button>
                      <button class="btn btn-primary btn-sm" (click)="selectTab(5)">Finish</button>
                      <button class="btn btn-primary btn-sm" (click)="selectTab(4)">Add Accessories</button>
                    </span>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 pt-4 eaton-modal-cont">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-0">
                        <div class="eaton-form-search-container"><input type="search" placeholder="Search" class="form-control" /><button class="btn btn-primary btn-sm">Search</button></div>
                        <div class="hoselist">
                          <div *ngFor="let fitting of model.componentPartForList">
                            <label>
                              <input type="radio" name="fitting2Radio" [value]="fitting._id" [(ngModel)]="model.selectedFitting1Id" (click)="getFitting2Detail(fitting._id)" /> {{fitting.componentPartNumber}}
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8 pr-0" style="display:grid;">
                        <accordion>
                          <accordion-group heading="Fitting 2 Detail" [isOpen]="true">
                            <div *ngIf="model.selectedFitting2 !== null">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="overall-length">Fitting 2 Part Number</label>
                                  <input type="text" class="form-control" placeholder="Market Segment" [value]="model.fitting2Detail?.componentPartNumber" readonly />
                                </div>
                                <div class="form-group">
                                  <label for="desc">Fitting 1 Description</label>
                                  <input type="text" class="form-control" placeholder="Description" [value]="model.fitting2Detail?.description" />
                                </div>
                              </div>
                              <div class="col-md-6 text-right">
                                <img src="data:image/jpeg;base64,{{model.fitting1Image}}" width="180" class="well p-0 my-auto" />
                              </div>
                            </div>
                          </accordion-group>
                          <accordion-group heading="Fitting 2 Properties">
                            <div>
                              <div class="form-group eaton-form" *ngFor="let fitting2Detail of model.fitting2Detail?.componentPartDetails">
                                <label for="overall-length">{{fitting2Detail.propertyName}}</label>
                                <input type="{{fitting2Detail.propertyType}}" class="form-control" [value]="fitting2Detail.propertyValue" readonly />
                              </div>
                            </div>
                          </accordion-group>
                        </accordion>
                      </div>
                    </div>
                  </div>
                </section>
              </tab>

              <tab heading="Accessories">
                <section class="widget" widget>
                  <div class="widget-body">
                    <span class="pull-left eaton-pt-10 eaton-pb-10">
                      Select Hose: <label>{{model.selectedHose}}</label><br> Selected Fitting 1: <label>{{model.selectedFitting1}}</label>, Selected Fitting 2: <label>{{model.selectedFitting2}}</label>
                    </span>
                    <span class="pull-right eaton-pt-10 eaton-pb-10">
                      <button class="btn btn-primary btn-sm" (click)="selectTab(3)">Back</button>
                      <button class="btn btn-primary btn-sm" (click)="selectTab(5)">Finish</button>
                      <button class="btn btn-primary btn-sm" (click)="selectTab(4)">Add Accessories</button>
                    </span>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 pt-4 eaton-modal-cont">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hoselist p-0">
                        <div>
                          <div class="form-group eaton-form-45">
                            <input type="text" class="form-control" placeholder="Part Number" />
                          </div>
                          <div class="form-group eaton-form-45">
                            <input type="text" class="form-control" placeholder="Description" />
                          </div>
                        </div>
                        <div>
                          <div class="form-group eaton-form-45">
                            <input type="text" class="form-control" placeholder="Part Number" />
                          </div>
                          <div class="form-group eaton-form-45">
                            <input type="text" class="form-control" placeholder="Description" />
                          </div>
                        </div>
                        <div>
                          <button class="btn btn-primary btn-sm">Search</button>
                        </div>
                        <div>//div for accessory list</div>
                      </div>
                      <div class="col-lg-8 pr-0" style="display:grid;">
                        <div>
                          <div>
                            <div class="form-group eaton-form">
                              <label>Part Number</label>
                              <input type="text" class="form-control" placeholder="Part Number" />
                            </div>
                            <div class="form-group eaton-form">
                              <label>Description</label>
                              <input type="text" class="form-control" placeholder="Description" />
                            </div>
                            <div class="form-group eaton-form">
                              <label>Part Number</label>
                              <input type="text" class="form-control" placeholder="Part Number" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </tab>

              <tab heading="Save & Print">Static content 3</tab>
            </tabset>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <div class="col-lg-12 col-xs-12 text-center">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <button class="btn btn-primary btn-sm" (click)="createAssetModal.hide()">Cancel</button>
        <button class="btn btn-primary btn-sm" (click)="createAsset()">Save</button>
      </div>
    </div>
  </div>
</div>
<app-location-tree-view #locationTreeViewModal (sendLocObj)="selectedLocObj($event)"></app-location-tree-view>
