<div bsModal #confirmActionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="confirmActionModal.hide()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title text-center" id="myModalLabel18">Confirm to proceed</h5>
      </div>
      <div class="modal-body">
        {{message}}
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="confirm(false)">Cancel</button>
        <button class="btn btn-primary btn-sm" (click)="confirm(true)">Confirm Action</button>
      </div>
    </div>
  </div>
</div>
