<section class="maincontent">
  <div class="maincontent__rightcol">
    <div class="title-bar">
      <h1 class="light man">Form Fields</h1><span class="align-btn-right"><button class="btn btn-white btn-sm" (click)="addFields()">Add Fields</button></span>
    </div>
    <div class="content-main" role="main" style="padding:0;">
      <div class="col-md-12">
        <div class="col-md-6 mt-4 pl-0">
          <ngx-datatable class="material"
                         [rows]="model.formFieldsList"
                         [columns]="defaultFormscolumns"
                         [columnMode]="'force'"
                         [headerHeight]="35"
                         [footerHeight]="35"
                         [rowHeight]="'auto'"
                         [reorderable]="true">
          </ngx-datatable>
        </div>
        <div class="col-md-6 mt-4 pl-0">
        </div>
      </div>
    </div>
  </div>
</section>

<!--Add fields modal-->
<div bsModal #addFieldsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="addFieldsModal.hide()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title text-center" id="myModalLabel18">Add Fields</h5>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <label class="mt-4">Field Name <span>*</span></label>
          <input type="text" class="form-control" placeholder="Field Name" required />
          <label class="mt-4">Field Type <span>*</span></label>
          <textarea class="form-control" required></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-lg-12 col-xs-12 text-center">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <button class="btn btn-primary btn-sm" (click)="addFieldsModal.hide()">Cancel</button>
        <button class="btn btn-primary btn-sm" (click)="createField()">Save</button>
      </div>
    </div>
  </div>
</div>
